<div class="flex-shrink-0 p-3 bg-white pt-0" style="width: 280px;">
    <hr>
    <a class="d-flex align-items-center link-dark text-decoration-none" routerLink="home" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>Alexander Pierce </strong>
    </a>
    <hr>

    <ul class="list-unstyled ps-0">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
        <hr>
        <li class="mb-1">
            <button routerLink="cars" class="btn btn-dashboard align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                Car Identification
            </button>

        </li>
        <li class="mb-1">
            <button routerLink="members" class="btn btn-dashboard align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Member Identification
            </button>
        </li>
        <li class="mb-1">
            <button routerLink="rent" class="btn btn-dashboard align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false" font-weight="600">
            Rent A Car
        </button>
        </li>
        <li class="mb-1">
            <button routerLink="renteds" class="btn btn-dashboard align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false" font-weight="600">
            Rented Cars
        </button>
        </li>
    </ul>
</div>